h1.content-title {
  margin: 0;
  font-size: 2em;
}

li, p {
  line-height: 18px;
}

div.page {
  display: grid;

  grid-template-areas:
    "header content ..."
    "nav    content blog"
    "...    content ..."
    "...    footer ...";
  grid-template-columns: auto 1fr auto;
  grid-template-rows:
    auto
    auto
    1fr
    auto;
  grid-gap: 20px;

  header.page-header {
    grid-area: header;
    text-align: center;
  }

  aside.blog-sidebar {
    grid-area: blog;
  }

  article.content {
    grid-area: content;
  }
  div.container-sidebar {
    grid-area: nav;
  }
  footer.page-footer {
    grid-area: footer;
  }
}

  @media (max-width: 600px) {
    body {
      padding: 0;
    }
    div.page {
      padding-bottom: 10vh;
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-template-areas:
        "header"
        "content"
        "footer";
    }
  }

  @media (min-width: 1000px) {
    body {
      padding: 10vh 10rem;
    }
  }
