@import "colors.css.scss";

input#slide {
  display: none;
}

ul.navbar {
  list-style: none;
  padding-left: 0px;
  margin: 0;

  li {
    color: $color-grey-3;

    a.active {
      color: white;
      font-weight: bold;
      cursor: default;
    }

    ul.navbar {
      padding-left: 16px;
    }
  }
}
label.sidebar-toggle {
  display: none;
}

@media (max-width: 600px) {
  div.container-sidebar {
    position: fixed;
  }
  label.sidebar-toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  nav.page-nav {
    grid-area: unset;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -190px;
    transition: all 0.15s ease-out;
    width: 8rem;
    padding: 1.5em;
  }
  #slide:checked + div.container-sidebar nav.page-nav {
    left: 0px;
  }
  .box {
    border-radius: 0!important;
    border: none!important;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
