@import "colors.css.scss";
@import "layout.css.scss";

body {
  background-color: $color-blue-medium;
  color: $color-grey-light;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
}

a {
  color: $color-yellow;
  text-decoration: none;

  &:focus,
  &:hover {
    color: #0ff;
  }
}

ul.navbar {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    background: $color-blue-dark;
    border: 1px solid $color-blue-light;
    padding: 5px;
    display: inline-block;

    a.active {
      color: white;
      font-weight: bold;
      cursor: default;
    }
  }
}
