@import "colors.css.scss";
@import "layout.css.scss";
@import "navbar.css.scss";
@import "forms.css.scss";

body {
  background-color: $color-blue-medium;
  color: $color-grey-4;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

a {
  color: $color-yellow;
  text-decoration: none;

  &:focus,
  &:hover {
    color: #0ff;
  }

  &.mail, &[href^="mailto:"] {
    background: url(/images/icons/mail.png) center right no-repeat;
    padding-right: 20px;
  }

  &.external, &[href^="http:"], &[href^="https:"] {
    background:url(/images/icons/external.png) center right no-repeat;
    padding-right:13px;
  }
}

.box {
  border: 1px solid $color-blue-light;
  background: $color-blue-dark;
  padding: 10px;
  border-radius: 0.5em;

  &.break {
    overflow-wrap: break-word;
    width: 60vw;
  }
}

code {
  background: $color-blue-dark;
  color: $color-grey-2;
  padding: 3px;
}
