@import "colors.css.scss";
@import "layout.css.scss";

body {
  background-color: $color-blue-medium;
  color: $color-grey-light;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
}

a {
  color: $color-yellow;

  &:focus,
  &:hover {
    color: #0ff;
  }
}
