<article class="content blog-post">
  <% if current_page.data.title %>
  <header>
    <h1 class="content-title"><%= current_page.data.title %></h1>
    <%= partial('partials/blog/byline', :locals => { :article => current_article }) %>
  </header>
  <% end %>

  <%= content %>
</article>
