<% if !defined? element then element = 'article' end %>
<<%= element %> class="content">
  <% if current_page.data.title %>
  <header>
    <h1 class="content-title"><%= current_page.data.title %></h1>
  </header>
  <% end %>
  <%= content %>
</<%= element %>>
