<% mtime = File.mtime(Dir.glob("source/#{current_page.path}*")[0]) %>
<footer class="page-footer box">
  &copy; <a href="mailto:Aran%20%3Caran@ermarian.net%3E">Aran</a>, 2006-2018 |
  Last modified <span class="time" data-time="<%= mtime.to_i %>"><%= mtime.strftime('%Y-%m-%d %H:%M:%S %z') %></span> |
  <a href="https://github.com/arancaytar/aran-web">GitHub</a>
</footer>
