<% source = Dir.glob("source/#{current_page.path}*")[0] %>
<footer class="page-footer box">
  &copy; <a href="mailto:Aran%20%3Caran@ermarian.net%3E">Aran</a>, 2006-2019 |
  <% if source %>
  <% mtime = File.mtime(source) %>
  Last modified
  <%= partial('partials/atoms/time', :locals => { :time => mtime }) %> |
  <% end %>
  <a href="https://github.com/arancaytar/aran-web">GitHub</a>
</footer>
