<header class="page-header box">
  <div class="page-logo">
    <%= image_tag("/images/logo.png", alt: "Logo") %>
  </div>
  <h1 class="page-title">
    <% if current_page.url != '/' %><a href="/"><% end %>
    aran . horse
    <% if current_page.url != '/' %></a><% end %>
  </h1>
</header>
