<header class="page-header">
  <div class="page-logo">
    <% if current_page.url != '/' %><a href="/"><% end %>
      <%= image_tag("/images/logo.png", alt: "Logo") %>
    <% if current_page.url != '/' %></a><% end %>
  </div>
</header>
