---
title: Game of Life
scripts:
  - isotropic.js
  - square.js
  - hex.js
  - util.js
styles: ['life.css']
---
<form id="form-controls">
  <fieldset>
    <label>Size: <input type="range" id="size" min="5" max="120" step="1" value="10" /></label>
    <button id="reset" type="button" title="Reset"><i class="fas fa-random"></i></button>
    <button id="start" type="button" title="Start"><i class="fas fa-play"></i></button>
    <button id="stop" type="button" title="Pause"><i class="fas fa-pause"></i></button>
    <button id="step" type="button" title="Step"><i class="fas fa-step-forward"></i></button>
    <label>Speed: <input type="range" id="speed" min="-10" max="10" step="1" value="0" /></label>
  </fieldset>
  <div class="box game-box">
    <canvas id="board"></canvas>
  </div>
</form>
<script src="hexlife.js"></script>
<p>
  This is the game of life on a hexagonal grid, in which each cell has six
  neighbors rather than eight. This simulator still applies the same 2/23 rule.
</p>
