input[type=checkbox].switch {
	height: 0;
	width: 0;
	visibility: hidden;

  &~ span#encrypting {
    display: unset;
  }
  &~ span#decrypting {
    display: none;
  }

  &:checked {
    &+ label {
  	  background: orange;

      &:after {
      	left: calc(100% - 5px);
      	transform: translateX(-100%);
      }
    }
    &~ span#encrypting {
      display: none;
    }
    &~ span#decrypting {
      display: unset;
    }
  }
}

label.switch {
	cursor: pointer;
	text-indent: -9999px;
	width: 3em;
	height: 1.5em;
	background: #4a4;
	display: inline-block;
  vertical-align: middle;
	border-radius: 1em;
	position: relative;

  &:after {
  	content: '';
  	position: absolute;
  	top: 1px;
  	left: 5px;
  	width: 1.4em;
  	height: 1.4em;
  	background: white;
  	border-radius: 0.9em;
  	transition: 0.3s;
  }

  &:active:after {
  	width: 1.8em;
  }
}
